.article-layout {
  max-width: 850px;
  margin: auto;
  font-weight: 300;
  font-size: 18px;
}

.article-title {
  font-weight: normal;
  font-size: 24px;
}

.article-info {
  margin-bottom: 10px;
}

.article-footer {
  padding: 0;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  background-color: #67e8f9;
  border: 0;
}

.article-wrapper {
  h2 {
    margin-top: 40px;
    font-weight: 800;
  }

  p {
    text-align: justify;
  }

  pre {
    background-color: #060a26;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
  }
}
