.article-layout {
  max-width: 850px;
  margin: auto;
}

.article-footer {
  padding: 0;
  margin-top: 70px;
  margin-bottom: 30px;
}

.article-layout {
  font-weight: 300;
  font-size: 18px;
}

.article-title {
  font-weight: normal;
  font-size: 24px;
}

.article-info {
  margin-bottom: 10px;
}

.article-subtitle {
  margin-top: 40px;
  font-weight: 800;
}

.footer-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.article-p {
  text-align: justify;
}

hr {
  height: 1px;
  background-color: #67e8f9;
  border: 0;
}
