---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import { getIcon } from "../../lib/getIcon";
import { validateCategory } from "../../lib/validateCategory";

const { category } = Astro.params;

if (!category) {
  throw new Error("Category not provided");
}

const [categoryName, error] = validateCategory(category);

// TODO: Create a 404 page
if (!categoryName) {
  return Astro.redirect("/categorias/not-found");
}

const icon = getIcon(categoryName);
---

<Layout>
  <div class="section-padding flex gap-3 pt-11 pb-20">
    <Icon name={icon} size={36} class="shrink-0" />

    <h1 class="subtitle">{categoryName}</h1>

    <main class="section-padding"></main>
  </div>
</Layout>
