---
import CategoryArticles from "../../components/CategoryArticles.astro";
import Layout from "../../layouts/Layout.astro";
import { techCategoryValues } from "../../categories";
---

<Layout>
  <main class="section-padding pt-11 pb-20">
    <h1 class="subtitle">Categorias</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        techCategoryValues.map((category) => (
          <CategoryArticles category={category} />
        ))
      }
    </div>
  </main>
</Layout>
