@tailwind base;
@tailwind components;
@tailwind utilities;

.subtitle {
  @apply text-cyan-300 font-semibold text-2xl md:text-3xl mb-7;
}

.projects-link {
  @apply text-cyan-300 transition;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  margin-top: 10px;
  transition: 300ms;
}

.projects-link:hover {
  gap: 15px;
}

.section-padding {
  @apply px-4 md:px-5;
}

.primary-btn {
  @apply bg-cyan-300 text-blue-950 px-4 py-2 rounded-lg transition hover:bg-cyan-300/80;
}

.articles-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7;
}
