.primaryBtn,
.deleteBtn {
  border-radius: 10px;
  border-width: 1.5px;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  transition: 350ms;
}

.primaryBtn {
  fill: white;
  border-color: rgb(103 232 249);
}

.primaryBtn:hover {
  color: rgb(103 232 249);
  fill: rgb(103 232 249);
}

.primaryBtn:disabled,
.deleteBtn:disabled,
.deleteBtn:hover:disabled {
  color: #545353;
  fill: #545353;
  border-color: #545353;
  background-color: transparent;
}

.deleteBtn {
  fill: #ff0000;
  border-color: #ff0000;
  color: #ff0000;
}

.deleteBtn:hover {
  color: white;
  fill: white;
  background-color: #ff0000;
}

.select {
  appearance: none;
  background: transparent;
  border-color: rgb(103 232 249);
  border-radius: 10px;
  border-width: 1.5px;
  color: white;
  outline: none;
  padding: 10px 45px 10px 15px;
}

.select option {
  color: white;
  background-color: #050a2f;
  border-radius: 10px;
}

.selectContainer {
  position: relative;
}

.selectContainer::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  content: '';
  pointer-events: none;
  position: absolute;
  right: 15px;
  right: 1rem;
  top: 45%;
}
