@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #090f3f;
  color: white;
}

.searchBox {
  background: #090f3f !important;
  border-radius: 999px;
  border: 1px solid #67e8f9;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding-left: 47px;
  padding-right: 35px;
  transition: 300ms;
  width: 274px;
}

.searchBox::placeholder {
  font-size: 18px;
  line-height: 28px;
}

.searchBox:focus {
  box-shadow: 0px 0px 5px #67e8f9;
}

.home-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  grid-auto-rows: auto;
}
