@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #090f3f;
  color: white;
}

body {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.see-more-link {
  align-items: center;
  display: inline-flex;
  font-size: 18px;
  gap: 10px;
  transition: 300ms;
}

.see-more-link:hover {
  @apply text-cyan-300;
  gap: 20px;
}

.see-more-link:hover > svg > path {
  @apply fill-cyan-300;
}
