---
import { Icon } from "astro-icon/components";
---

<header
  class="border-b border-cyan-300/20 flex px-4 md:px-5 py-4 justify-between items-center flex-col md:flex-row"
>
  <div
    class="flex gap-[30px] items-center w-full justify-between mb-5 md:mb-0 md:justify-start"
  >
    <a href="/">
      <img src="/logo.png" alt="LUGP DEV BLOG" class="w-[113px] h-[50px]" /></a
    >

    <nav class="flex gap-5 md:gap-[30px] text-sm font-semibold">
      <a href="#" class="nav-link">Artículos</a>
      <a href="#" class="nav-link">Categorías</a>
    </nav>
  </div>

  <form class="relative w-full md:w-auto">
    <Icon
      name="gravity-ui:magnifier"
      size={20}
      color="#36dde8"
      class="absolute top-1/2 transform left-2.5 -translate-y-1/2"
    />
    <input
      type="search"
      placeholder="Buscar..."
      class="flex border border-cyan-300 rounded-lg items-center p-2.5 gap-2.5 bg-transparent w-full md:w-[350px] pl-10 text-sm"
    />
  </form>
</header>

<style>
  .nav-link:hover {
    @apply transition text-cyan-300;
  }
</style>
