<header
  class="border-b border-cyan-300 flex px-5 py-4 justify-between items-center"
>
  <div class="flex gap-[30px] items-center">
    <a href="/">
      <img src="/logo.png" alt="LUGP DEV BLOG" class="w-[113px] h-[50px]" /></a
    >

    <nav class="flex gap-[30px] text-sm font-medium">
      <a href="#" class="nav-link">Artículos</a>
      <a href="#" class="nav-link">Categorías</a>
    </nav>
  </div>

  <div>
    <form>
      <input type="search" placeholder="Buscar..." />
    </form>
  </div>
</header>

<style>
  .nav-link:hover {
    @apply transition text-cyan-300;
  }
</style>
