<header>
  <a href="/"> <img src="/logo.png" alt="LUGP DEV BLOG" /></a>

  <nav>
    <a href="#">Artículos</a>
    <a href="#">Categorías</a>
  </nav>

  <div>
    <form>
      <input type="search" placeholder="Buscar..." />
    </form>
  </div>
</header>
