---
import { Icon } from "astro-icon/components";

const query = Astro.url.searchParams.get("q");
---

<form class="relative w-full md:w-auto" id="searchbox-form">
  <Icon
    name="gravity-ui:magnifier"
    size={20}
    color="#36dde8"
    class="absolute top-1/2 transform left-2.5 -translate-y-1/2"
  />

  <input
    type="search"
    placeholder="Buscar..."
    name="query"
    value={query}
    class="flex border border-cyan-300 rounded-lg items-center p-2.5 gap-2.5 bg-transparent w-full md:w-[350px] pl-10 text-sm"
  />
</form>

<script>
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("#searchbox-form");

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const input = form.querySelector("input[name='query']") as HTMLInputElement;

    navigate(`/articulos?q=${input.value}`);
  });
</script>
