---
import { techCategoryValues } from "../categories";
import Category from "../pages/components/Category.astro";
---

<section class="home-section-padding pt-12 pb-20">
  <h1 class="subtitle">Categorías</h1>

  <div
    class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {techCategoryValues.map((category) => <Category name={category} />)}
  </div>
</section>
