<section class="text-center px-4 pt-10 mb-12 md:pt-20 md:pb-24">
  <h1 class="text-cyan-300 font-bold text-3xl md:text-6xl md:pb-2.5">
    Lugp.dev
  </h1>
  <p class="text-pretty md:text-xl">Guías para dominar el desarrollo web</p>
</section>
