---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins";
import "../styles/globals.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Guías para dominar el desarrollo web" />
    <title>
      {title ? title : "Lugp.dev | Guías para dominar el desarrollo web"}
    </title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <div transition:animate="fade" class="pt-[145px] md:pt-[83px]">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  html {
    @apply bg-blue-950 text-white;
    font-family: "Poppins", sans-serif;
  }
</style>
