<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/globals.css" />
    <title>Lugp.dev | Guías para dominar el desarrollo web</title>
  </head>
  <body>
    <slot />
  </body>
</html>
