---
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins";
import "../styles/globals.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lugp.dev | Guías para dominar el desarrollo web</title>
  </head>
  <body>
    <Navbar />
    <div class="pt-[145px] md:pt-[83px]">
      <slot />
    </div>
  </body>
</html>

<style>
  html {
    @apply bg-blue-950 text-white;
    font-family: "Poppins", sans-serif;
  }
</style>
