.searchBox {
  background: #090f3f !important;
  border-radius: 999px;
  border: 1px solid #67e8f9;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding-left: 47px;
  padding-right: 35px;
  transition: 300ms;
  width: 274px;
}

.searchBox::placeholder {
  font-size: 18px;
  line-height: 28px;
}

.searchBox:focus {
  box-shadow: 0px 0px 5px #67e8f9;
}

.navbar {
  background: linear-gradient(to bottom, #090f3f, #090f3fc4);
  left: 50%;
  max-width: 1280px;
  padding: 15px 10px;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

main {
  padding: 0 15px;
  padding-top: 40px !important;
  padding-bottom: 15px;
}

/* Small Screen */
@media (min-width: 640px) {
  .navbar {
    padding: 15px 25px;
  }

  main {
    padding: 0 25px;
    padding-bottom: 25px;
  }
}

/* Medium Screen */
@media (min-width: 768px) {
  .navbar {
    padding: 15px 25px;
  }

  main {
    padding: 0 30px;
  }
}

@media (min-width: 900px) {
  .home-layout {
    display: grid;
    gap: 50px;
    grid-auto-rows: auto;
    align-items: start;
    grid-template-columns: 1fr 340px;
  }
}
